<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean id="action1" class="org.cuner.flowframework.test.action.Action1"/>
    <bean id="action2" class="org.cuner.flowframework.test.action.Action2"/>
    <bean id="action3" class="org.cuner.flowframework.test.action.Action3"/>

    <bean id="flowManager" class="org.cuner.flowframework.core.manager.FlowManager">
        <property name="flowFiles">
            <list>
                <value>flow.xml</value>
            </list>
        </property>
    </bean>

</beans>